<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' type='text/css' href='/../static/styles.css' >
  </head>
  <body>
    <div id='topbar'>
      <a href="/" class="align_left" >Home</a>
      <a href="/blog" class="align_left" >Blog</a>
      <a href="/newpost" class="align_left" >New Post</a>

      {% if session['username'] %}
        <a class="align_right" href="/logout" >Logout</a>
      {% else %}
        <a class="align_right" href="/signup" >Signup</a>
        <a class="align_right" href="/login" >Login</a>
      {% endif %}
    </div>


    {% with messages = get_flashed_messages(with_categories=True) %}
    <!-- create a "flash tray" which appears under the nav bar  -->
      <div>


          {% for category,message in messages %}
              <p id='flash_tray' class="{{category}}">{{message}}</p>
          {% endfor %}

      </div>
    {% endwith %}

    {% block content %}
    {% endblock %}

  </body>
</html>
