{% extends "base.html" %}

{% block content %}
<div class='input_w'>
  <div id='login' class='solid'>
    <form action="/login" method="post">
        <table>
            <tr>
                <td>
                  <h1>Log in</h1>
                  <br>
                  <br>
                </td>
            </tr>
            <tr>
                <td>
                  <h3>Don't have an account? <a href="/signup">Sign up</a> for one.</h3>
                  <br>
                </td>
            </tr>
            <tr>
                <td>
                  <label for="username">Username</label>
                  <span class="error">{{username_error}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="username" type="text" value="{{ username }}">
                    <br>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                  <label for="password">Password</label>
                  <span class="error">{{password_error}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="password" type="password">
                    <br>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Login">
                </td>
            </tr>
        </table>
    </form>
  </div>
</div>
{% endblock %}
